In [4]:
import pandas as pd

# Load the CSV file
raw_data = pd.read_csv("raw_data.csv")

import sqlite3

conn = sqlite3.connect("full_data.db")
raw_data.to_sql("full_data", conn, if_exists="replace", index=False)

conn.execute("SELECT * FROM full_data LIMIT 5").fetchall()
conn.close()

In [6]:
import pandas as pd
import sqlite3
# Load transformed incremental data
df_incremental = pd.read_csv("transformed_incremental.csv")  
df_incremental.head()
# Create or connect to SQLite database
conn = sqlite3.connect("incremental_data.db")

# Load DataFrame into SQLite
df_incremental.to_sql("incremental_data", conn, if_exists='replace', index=False)

# Preview data with a SQL query
pd.read_sql("SELECT * FROM incremental_data LIMIT 5", conn)

# Close connection
conn.close()

In [8]:
import sqlite3
import pandas as pd

# Transformed Full
conn_full = sqlite3.connect("full_data.db")
df_full = pd.read_sql_query("SELECT * FROM full_data LIMIT 5;", conn_full)
print("Transformed Full Data Preview:")
print(df_full)
conn_full.close()

# Transformed Incremental
conn_incr = sqlite3.connect("incremental_data.db")
df_incr = pd.read_sql_query("SELECT * FROM incremental_data LIMIT 5;", conn_incr)
print("Transformed Incremental Data Preview:")
print(df_incr)
conn_incr.close()

Transformed Full Data Preview:
   order_id customer_name product  quantity  unit_price  order_date region
0         1         Diana  Tablet       NaN       500.0  2024-01-20  South
1         2           Eve  Laptop       NaN         NaN  2024-04-29  North
2         3       Charlie  Laptop       2.0       250.0  2024-01-08   None
3         4           Eve  Laptop       2.0       750.0  2024-01-07   West
4         5           Eve  Tablet       3.0         NaN  2024-03-07  South
Transformed Incremental Data Preview:
   order_id customer_name product  quantity  unit_price  order_date   region  \
0       105         Heidi  Tablet       2.0       600.0  2024-05-21    North
1       109         Grace  Laptop       2.0       600.0  2024-05-29  Central

   total_price
0       1200.0
1       1200.0